<div class="container col-md-11">
    <div class="d-flex justify-content-between">
        <h4>ACTUALIZAR</h4>

        <button mat-button (click)="close()">
<mat-icon>close</mat-icon>
</button>
    </div>
    <div style="overflow: auto;height: 350px;">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
            <input readonly="readonly" type="hidden" class="form-control" name="id_HVT" #id_HVT="ngModel" [(ngModel)]="service.formData.id_HVT">
            
            <mat-form-field class="example-full-width">

                <mat-label>TITULO:</mat-label>

                <input matInput required minlength="2" type="text" class="form-control" name="titulo" #titulo="ngModel" [(ngModel)]="service.formData.titulo">
                <div class="text-left text-danger" *ngIf="titulo.invalid && titulo.touched">
                    Debes ingresar el titulo.
                </div>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>
                    CONTENIDO:
                </mat-label>
                <textarea matInput required minlength="2" type="text" class="form-control" name="contenido" #contenido="ngModel" [(ngModel)]="service.formData.contenido"></textarea>
                <div class="text-left text-danger" *ngIf="contenido.invalid && contenido.touched">
                    Debes ingresar la contenido.
                </div>
            </mat-form-field>
            <br>
			<button class="m-2" mat-raised-button color="primary" (click)="close()" type="submit" [disabled]="form.invalid">ACTUALIZAR</button>
        </form>

    </div>
</div>
