<section class="hero-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row">
                    <div class="col-lg-6">
                        <div>

                        </div>
                        <div class="hero-info">
                            <h2>General Info</h2>
                            <ul>
                                <li><span>Nombre de Usuario</span>{{username}}</li>
                                <li><span>Correo</span>{{userprof.email}}</li>
                                <li><span>Nombre</span>{{userprof.nombre}}</li>
                                <li><span>Apellido</span>{{userprof.apellido}}</li>
                                <li><span>Lugar de Acogida</span>{{userprof.lugar_acogida}}</li>
                                <li><span>Fecha de nacimiento</span>{{userprof.fecha_nacimiento}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <figure class="hero-image">
                            <img src="../../../assets/hero-3.jpg" alt="5">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
