div {
    color: black;
}
.container-vision{
    text-align: center;
}
.vision{
    text-align: justify;
}
.container-botton-vision{
    width: 100px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-35%);
}

h2{
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: xx-large;
}

p {
    font-size: medium;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Ligth'
}

.mdc-button{
    background-color: #03A0C3;
    color: black;
    font-size: 17px;
    font-family: 'Mission Gothic Bold';
}