<div class="container col-md-11">
    <div class="d-flex justify-content-between">
        <h4>ADD HISTORIA DE VIDA</h4>

        <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
    </div>
    <div style="overflow: auto;height: 450px;">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">

            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">TITULO</span>
                </div>
                <input required minlength="2" type="text" class="form-control" name="titulo" #titulo="ngModel" [(ngModel)]="service.formData.titulo">
            </div>
            <div class="text-left text-danger" *ngIf="titulo.invalid && titulo.touched">
                Debes ingresar el titulo.
            </div>

            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">URL</span>
                </div>
                <input required minlength="2" type="text" class="form-control" placeholder="https://www.youtube.com/....." name="video_HVV" #video_HVV="ngModel" [(ngModel)]="service.formData.video_HVV">
            </div>
            <div class="text-left text-danger" *ngIf="video_HVV.invalid && video_HVV.touched">
                Debes ingresar la URL de tu video
            </div>

            <!--
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">FECHA</span>
                </div>
                <input required minlength="2" [matDatepicker]="picker" class="form-control" type="text" name="fecha" #fecha="ngModel" [(ngModel)]="service.formData.fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker></mat-datepicker>

            </div>
            <div class="text-left text-danger" *ngIf="fecha.invalid && fecha.touched">
                Please enter date.
            </div>
-->
            <button class="mt-4" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">ADD</button>
        </form>

    </div>
</div>