<div class="container col-md-11">
    <div class="d-flex justify-content-between">
        <h4></h4>

        <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
    </div>
    <div style="overflow: auto;height: 350px;">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">

            <mat-form-field class="example-full-width">
                <mat-label>
                    TITULO
                </mat-label>
                <input matInput required minlength="2" maxlenght="40" type="text" class="form-control" name="titulo" #titulo="ngModel" [(ngModel)]="service.formData.titulo">
                <div class="text-left text-danger" *ngIf="titulo.invalid && titulo.touched">
                    Debes ingresar el titulo.
                </div>
            </mat-form-field>
            <br>
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">URL</span>
                </div>
                <input required minlength="2" type="text" class="form-control" placeholder="https://www.youtube.com/....." name="video_HVV" #video_HVV="ngModel" [(ngModel)]="service.formData.video_HVV">
            </div>
            <div class="text-left text-danger" *ngIf="video_HVV.invalid && video_HVV.touched">
                Debes ingresar la URL del video
            </div>

            <button class="mt-4" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">AGREGAR</button>
        </form>

    </div>
</div>
