<div class="container col-md-11">
    <div class="card-header">
        <div class="Mision">
            <h3>OBJETIVO</h3>
        </div>
        <div class="btnClose">
            <button mat-icon-button color="warn" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div style="overflow: auto;height: 250px;">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
                <input readonly="readonly" type="hidden" class="form-control" name="id_objetivos" #id_objetivos="ngModel" [(ngModel)]="service.formData.id_objetivos">
                <mat-form-field class="example-full-width">
                    <mat-label>CONTENIDO</mat-label>
                    <textarea matInput required minlength="2" type="text" class="form-control" name="contenido" #contenido="ngModel" [(ngModel)]="service.formData.contenido"></textarea>
                    <div class="text-left text-danger" *ngIf="contenido.invalid && contenido.touched">
                        Debes ingresar la contenido.
                    </div>
                </mat-form-field>
                <br>
                <button class="m-2" mat-raised-button color="primary" (click)="close()" type="submit" [disabled]="form.invalid">ACTUALIZAR</button>
            </form>
        </div>
    </div>
</div>