
.example-header-image {
    background-image: url('https://img2.freepng.es/20190620/byr/kisspng-microphone-sound-computer-icons-clip-art-vector-gr-mic-a-svg-png-icon-free-download-411793-onlin-5d0c436f81bb67.2068817515610847835314.jpg');
    background-size: cover;
  }

.mat-card-title {
    align-items: center;
}

.classcard {
    margin-bottom: 20px;
    margin: 2%;
    font-family: "Mission Gothic Bold";
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: calc(35px) auto;
    transition: none !important;
    box-shadow: none !important;
}

.other {
    align-items: center;
    text-align: center;
    height: 110px;
    margin-left: 16%;
    margin-bottom: 0%;
}

.audioBox {
    margin-top: 0px;
    position: rigth;
}

source {
    width: max-content;
}

.container {
    margin-bottom: 50px;
    max-width: 80%;
    min-height: 100vh;
    margin-bottom: 20px;
}

.container-fluid {
    margin-bottom: 50px;
    max-width: 80%;
    margin-bottom: 20px;
}

.mat-card-title {
    margin-top: 1%;
}

.new1 {
    /*color: white;*/
    height: 0px;
    border: 2px dashed;
}

.tit {
    color: #000000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.options {
    float: right;
    margin-top: -60px;
    /* margin-right: auto;*/
}

@media screen and (max-width: 800px){
    .classcard{
        width: 110%;
        margin-left: -20px;
    }
    
    .audioBox{
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    .other{
        text-align: justify;
        width: 83%;
    }
}

.h2-title {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: xx-large;
}

p {
    font-size: medium;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Ligth'
}

.decorator-hr{
    height:4px;
    border-width:0;
    color:#952C6E;
    background-color:#952C6E;
}

h2 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: x-large;
}