img {
    height: 120px;
    margin-top: 20px;
}

.example-header-image {
    /* background-image: url("src/assets/HistoriaVidaAudio/ShowIcons/microphone.png");*/
    background-size: cover;
}

.mat-card-title {
    align-items: center;
}

.classcard {
    margin-bottom: 20px;
    margin: 2%;
}

.other {
    align-items: center;
    text-align: center;
    background-color: darkslategray;
    border-style: solid;
    border-color: black;
    height: 110px;
    margin-left: 16%;
    margin-bottom: 0%;
}

.audioBox {
    margin-top: 20px;
    position: center;
}

source {
    width: max-content;
}

.container {
    background-color: black;
    margin-bottom: 50px;
    max-width: 80%;
    min-height: 100vh;
    margin-bottom: 20px;
}

hr.new4 {
    border: 2px solid black;
}

.mat-card-title {
    margin-top: 1%;
}

.new1 {
    /*color: white;*/
    height: 0px;
    border: 2px dashed;
}

.tit {
    color: white;
    text-align: center;
}

.options {
    float: right;
    margin-top: -50px;
    /* margin-right: auto;*/
}