<div class="container title">
    <h1></h1>
</div>


<div class="container">
    <div class="addbox-HVT">
        <button class="mt-2" mat-raised-button (click)="AddTrabajo()" color="primary">
          Agregar
           <mat-icon>add_box</mat-icon>
          </button>
    </div>
    <h1 class="tit">TRABAJOS</h1>

    <div class="card-header">
        <hr class="new1">
    </div>
    <mat-list *ngFor="let tob of teofrecemos">
        <mat-card>
            <div mat-card-avatar class="example-header-image">
                <img src="../../../../assets/trabajo.jpg" />
            </div>
            <div class="options" fxFlex="10px" fxFlexAlign="center">
                <mat-card-actions>
                    <button mat-icon-button class="coloicon" (click)="edit_Trabajo(tob)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    <button mat-icon-button (click)="Delete(tob)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                </mat-card-actions>
            </div>
            <div class="other">

                <mat-card-title>CONTACTO: {{tob.contacto}}</mat-card-title>
                <mat-card-subtitle>CONTENIDO: {{tob.contenido}}</mat-card-subtitle>

            </div>

            <hr class="new4">
        </mat-card>
    </mat-list>
</div>
