.filter-HVT {
    float: right;
    margin-right: 15px;
}

.addbox-HVT {
    float: left;
    margin-left: 15px;
}

.title {
    margin-top: 50px;
    text-align: center;
}

div.hvv {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.hvv {
    margin-top: 5%;
}

.hvv {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f5f9c989-0119-44ae-a646-d28630ea2f16/d2yp07m-a084ef34-38cc-400f-9d3d-db11e88eb1e5.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mat-card {
    max-width: 650px;
    margin: auto;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: #a1a1a1;
    margin-bottom: 30px;
    border-style: solid;
}

.mat-card-avatar {
    background-size: cover;
}

.mat-card-actions {
    display: flex;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}

.container {
    text-align: justify;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

.options {
    float: right;
    margin-top: -50px;
    margin-right: auto;
}

.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}

.card {
    background-color: #323232;
}

.card-header {
    color: #ffffff;
}

.contenidohvt {
    float: left;
    margin-left: 0px;
}