<div class="container col-md-11">
    <div class="d-flex justify-content-between">
        <h4></h4>

        <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
</button>
    </div>
    <div style="overflow: auto;height: 200px;">
        <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
            
            <mat-form-field class="example-full-width">

                <mat-label>COMENTARIO:</mat-label>

                <textarea matInput required minlength="2" type="text" rows="5" class="form-control" name="titulo" #titulo="ngModel" [(ngModel)]="service.formData.comentario"></textarea>
                <div class="text-left text-danger" *ngIf="titulo.invalid && titulo.touched">
                    Debes ingresar comentario.
                </div>
            </mat-form-field>
            <br>
            <br>
            <button class="mt-4" mat-raised-button class="btn mdc-button" (click)="close()" type="submit" [disabled]="form.invalid">Agregar</button>
        </form>
    </div>
</div>
