<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>MISION</h3>
        </div>
        <div class="card-body">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
            <div class=" input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">CONTENIDO</span>
                    <input [(ngModel)]="mision.contenido" name="contenido" type="text" class="form-control"required minlength="2" [(ngModel)]="service.formData.contenido">
                </div>
            </div>
            <div class="text-left text-danger" *ngif="contenido.invalid && contenido.touched">
                Please enter contenido.
            </div>
                <button (click)="Actualizar(mision)" class="btn btn-warning">Actualizar</button>
            </form>
        </div>
    </div>
</div>