img {
    height: 190px;
    margin-top: 0%;
    max-width: 200px;
    margin-left: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.other {
    width: 60%;
    align-items: center;
    text-align: justify;
    height: 150px;
    margin-left: 25%;
    margin-bottom: 0%;
}

h2 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: x-large;
}

.container {
    text-align: justify;
    margin-bottom: 10%;
    max-width: 85%;
    min-height: 80vh;
}

.addbox-HVT {
    margin-left: 2%;
    margin-top: -30px;
    margin-bottom: 5px;
}

.nfi {
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.noavailable {
    text-align: left;
    margin-bottom: 5%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.nfi {
    max-width: 80%;
    height: 80%;
}

.mat-card {
    width: 100%;
    max-width: 80%;
    margin: auto;
    font-family: "Mission Gothic Light";
    background-color: #EEEEEE;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: none !important;
    box-shadow: none !important;
    margin: calc(35px) auto;
}

.decorator-hr {
    height: 4px;
    border-width: 0;
    color: #952C6E;
    background-color: #952C6E;
}

.mdc-button {
    background-color: #03A0C3;
    color: black;
    font-size: 17px;
    font-family: 'Mission Gothic Bold';
}

.mat-card-footer {
    margin: 1%;
    text-align: right;
}

.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}

hr.new4 {
    border: 2px solid #b6b6b6;
}

.options {
    float: right;
    margin-top: -70px;
    margin-right: 2%;
}

.card {
    background-color: #919191;
}

.card-header {
    margin-top: 2%;
}

.mat-card-actions {
    display: flex;
}

.custom-card {
    background: #ffffff;
    /* fallback for old browsers
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
     Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #c228aa, #00AcDC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: left;
    text-align: justify;
    margin-top: -10px;
    /*border-radius: 10px;
    border: 2px inset;*/
    max-height: 50px;
}

.custom-card-content {
    padding: 20px;
    box-sizing: border-box;
}

.coloicon {
    color: white;
}

.mat-card-title {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.mat-card-subtitle {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    img {
        height: auto;
    }
    .mat-card {
        margin-left: -5%;
        width: 120%;
        min-width: 110%;
        min-height: 300px;
    }
    .other {
        width: 100%;
        min-height: 200px;
        margin-left: 0px;
    }
    .image {
        height: 90px;
        /* adjust as needed */
        object-fit: contain;
        margin-left: 0px;
    }
    .mat-card-title {
        margin-left: 120px;
        margin-top: -20px;
    }
    .addbox-HVT {
        margin-top: 20px;
        margin-left: 0px;
    }
}