<div class="container pt-4">
    <div class="row">
        <div class="col-8 containerVideo card">
            <!-- COPIADO DE HISTORIA DE VIDA VIDEO - NECESITAMOS CREAR EL COMPONENTE    
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Todo lo que necesitas saber del referente educacion</mat-card-title>
                </mat-card-header>
                <div class="options" fxFlex="5px" fxFlexAlign="center">
                    <mat-card-actions>
                        <button mat-icon-button (click)="edit_HVV(hvt)">
                            <mat-icon>edit</mat-icon>
                    </mat-card-actions>
                </div>
                <div fxLayout="row">
                    <div fxFlex="5px">
                        <mat-card-content>
                            <youtube-player [videoId]="hvt.video_HVV" [height]="300" [width]="550"
                                suggestedQuality="large"></youtube-player>
                        </mat-card-content>
                    </div>
                    <hr class="new4">
                    <mat-card-footer>
                    </mat-card-footer>
                </div>
            </mat-card>
            -->

            <!-- CON ESTO HICE LA PRUEBA DEL VIDEO IFRAME - MAQUETEO -->
            <iframe width="600" height="315" src="https://www.youtube.com/embed/wbb0qGZqo3E" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div>
                <p class="par">
                    En esta etapa, es muy importante que el trabajo
                    no impida que puedas continuar con tus estudios. Lo
                    ideal es buscar algo flexible y de medio tiempo.
                </p>
                <p class="par">
                    Encontrar un trabajo no es fácil, lleva tiempo
                    y muchas veces puede ser frustrante. No te rindas
                    enseguida.
                </p>
                <p class="par">
                    Entre los 16 y los 18 años, lxs adolescentes tenemos derecho a un empleo con “protección especial”. Es
                    decir, que el trabajo no debe afectar nuestro desarrollo personal y emocional, ni ser nocivo para la
                    salud. No puede ser un trabajo nocturno ni debe impedir el ejercicio de otros derechos, como la
                    educación. No debe extenderse más de 6 horas por día y hasta 36 horas por semana y debe permitir que
                    asistas a la escuela
                </p>
            </div>    
        </div>
    </div>
    <div class="col-4 bg-warning">
        Comentarios
    </div>
</div>