<div class="container pt-4">
    <div class="row">

        <div class="col-8 containerVideo">
            <mat-card-title>Titulo: {{referente.titulo}}</mat-card-title>
            <mat-card-title>Titulo: {{referente.descripcion}}</mat-card-title>

            <div class="options" fxFlex="5px" fxFlexAlign="center">
                <mat-card-actions>
                    <button mat-icon-button (click)="edit_referente(referente)">
                          <mat-icon>edit</mat-icon>
                      </button>

                </mat-card-actions>
            </div>
            <mat-card-content>
                <youtube-player [videoId]="link" [height]="315" [width]="600" suggestedQuality="large"></youtube-player>
            </mat-card-content>
            <div>
                <p class="par">
                    En esta etapa, es muy importante que el trabajo no impida que puedas continuar con tus estudios. Lo ideal es buscar algo flexible y de medio tiempo.
                </p>
                <p class="par">
                    Encontrar un trabajo no es fácil, lleva tiempo y muchas veces puede ser frustrante. No te rindas enseguida.
                </p>
                <p class="par">
                    Entre los 16 y los 18 años, lxs adolescentes tenemos derecho a un empleo con “protección especial”. Es decir, que el trabajo no debe afectar nuestro desarrollo personal y emocional, ni ser nocivo para la salud. No puede ser un trabajo nocturno ni debe
                    impedir el ejercicio de otros derechos, como la educación. No debe extenderse más de 6 horas por día y hasta 36 horas por semana y debe permitir que asistas a la escuela
                </p>
            </div>>

        </div>

        <div class="col-4 bg-warning">
            Comentarios
        </div>
    </div>
</div>
