<div class="container pt-4">
    <div class="row">
        <div class="col-8 containerVideo card">
            <!-- COPIADO DE HISTORIA DE VIDA VIDEO - NECESITAMOS CREAR EL COMPONENTE    
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Todo lo que necesitas saber del referente educacion</mat-card-title>
                </mat-card-header>
                <div class="options" fxFlex="5px" fxFlexAlign="center">
                    <mat-card-actions>
                        <button mat-icon-button (click)="edit_HVV(hvt)">
                            <mat-icon>edit</mat-icon>
                    </mat-card-actions>
                </div>
                <div fxLayout="row">
                    <div fxFlex="5px">
                        <mat-card-content>
                            <youtube-player [videoId]="hvt.video_HVV" [height]="300" [width]="550"
                                suggestedQuality="large"></youtube-player>
                        </mat-card-content>
                    </div>
                    <hr class="new4">
                    <mat-card-footer>
                    </mat-card-footer>
                </div>
            </mat-card>
        -->

            <!-- CON ESTO HICE LA PRUEBA DEL VIDEO IFRAME - MAQUETEO -->
            <iframe width="600" height="315" src="https://www.youtube.com/embed/ey4gy7aK4rA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div>
                <p class="par">
                    Cuando egresamos de un hogar, la primera dificultad que se nos presenta es dónde vamos a vivir.
                    Muchxs de nosotrxs recurrimos a las siguientes alternativas:
                </p>
                <p class="par">
                    – Alquiler compartido: una buena alternativa es compartir con amigxs o familiares los gastos de
                    alquiler de un departamento o de una habitación. Hay que buscar personas responsables, ya que
                    dependemos de que puedan contribuir al pago.
                </p>
                <p class="par">
                    Para alquilar, en la mayoría de los casos te pedirán una garantía, esto es el título de una
                    propiedad a nombre de otra persona que sale de garante tuyo. Ojo con meterte en “comprar una
                    garantía”, no es nada confiable y suena a estafa. También es probable que te pidan: un mes de
                    adelanto + un depósito + comisión de la inmobiliaria + recibo de sueldo …en fin, ¡un montón de
                    cosas! Es la parte más tediosa y muchas veces es la traba para poder alquilar.
                </p>
                <p class="par">
                    – Hostels: suelen ser más baratos que un alquiler y no necesitás garantía.
                </p>
                <p class="par">
                    Comunicate con la Guía Egreso para que podamos contarte más opciones y pensar juntxs cuál puede ser
                    la mejor forma para tener una vivienda digna y segura al momento de tu egreso.
                </p>
            </div>>
        </div>
        <div class="col-4 bg-warning">
            Comentarios
        </div>
    </div>
</div>