<div class="container pt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-auto" style="background: #ffffff">
            <h1>
                {{referente.titulo}}
            </h1>
            <button *ngIf="showAdminBoard || showModeratorBoard" mat-icon-button (click)="edit_referente(referente)">
                <mat-icon>edit</mat-icon>
            </button>
            <div class="options" fxFlex="5px" fxFlexAlign="center"></div>
            <div class="row justify-content-center align-items-center">
                <youtube-player width="840" height="460" [videoId]="link" suggestedQuality="large"></youtube-player>
            </div>
            <mat-card-content>{{referente.descripcion}}</mat-card-content>
        </div>

        <div class="col-sm" style="background: #00addc">
            <div class="addbox-Tema" *ngIf="isLoggedIn">

                <button class="mt-2" mat-raised-button (click)="crearcomentario()">
    Añadir Comentario
     <mat-icon>exit_to_app</mat-icon>
    </button>
            </div>
            <app-show-comentario-vivienda></app-show-comentario-vivienda>
        </div>
    </div>
</div>
