<!--<div class="container pt-4">
    <div class="row">

        <div class="col-8 containerVideo">
            

        </div>

        <div class="col-4 bg-warning">
            
        </div>
    </div>
</div>
-->

    <div class="bo">
        <div class="izq containerVideo container">
            <mat-card-title>Titulo: {{referente.titulo}}</mat-card-title>
            <mat-card-title>Titulo: {{referente.descripcion}}</mat-card-title>
            <div class="options" fxFlex="5px" fxFlexAlign="center">
                <mat-card-actions>
                    <button mat-icon-button (click)="edit_referente(referente)">
                    <mat-icon>edit</mat-icon>
                </button>

                </mat-card-actions>
            </div>
            <mat-card-content>
                <youtube-player [videoId]="link" [height]="315" [width]="600" suggestedQuality="large"></youtube-player>
            </mat-card-content>
            <div>

            </div>
        </div>    
        <div class="der">
            <app-show-comentario-educacion></app-show-comentario-educacion>
        </div>
    </div>
