.container {
    min-height: 100vh;
}

.containerVideo {
    text-align: justify;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}



.container {
    text-align: justify;
    margin-bottom: 10%;
    max-width: 85%;
}

.textContent {
    border: 1px solid;
    padding: 10px;
    width: 100px;
    word-wrap: break-word;
}

h1 {text-align: center}