<div class="container pt-4">
    <div class="row">

        <div class="col-8 containerVideo">
            <mat-card-title>Titulo: {{referente.titulo}}</mat-card-title>
            <mat-card-title>Titulo: {{referente.descripcion}}</mat-card-title>
            <div class="options" fxFlex="5px" fxFlexAlign="center">
                <mat-card-actions>
                    <button mat-icon-button (click)="edit_referente(referente)">
                    <mat-icon>edit</mat-icon>
                </button>

                </mat-card-actions>
            </div>
            <mat-card-content>
                <youtube-player [videoId]="link" [height]="315" [width]="600" suggestedQuality="large"></youtube-player>
            </mat-card-content>
            <div>
                <p class="par">
                    Estudiar es tu derecho, te posiciona mejor para buscar empleo y para seguir capacitándote en una profesión.
                </p>
                <p class="par">
                    Si aún no terminaste la escuela y tu deseo es poder hacerlo, aunque haya pasado mucho tiempo, siempre estás a tiempo. ¡Qué mejor que empezar ahora!
                </p>
                <p class="par">
                    Sabemos que muchas veces se complica tener que trabajar, mantener una familia y a su vez estudiar. Por eso creemos que es vital que puedas contar con un grupo de amistades, familiares o personas de confianza que te puedan ayudar.
                </p>
                <p class="par">
                    Hay distintas alternativas para poder terminar el colegio. Existen escuelas nocturnas, educación para adultos, modalidades de finalización en pocos años o de estudio a distancia. También hay secundarias con jardines maternales, para que las adolescentes
                    madres puedan estudiar con la tranquilidad de saber que su bebé está bien cuidado y cerca suyo.
                </p>
            </div>>

        </div>

        <div class="col-4 bg-warning">
            Comentarios
        </div>
    </div>
</div>
