.container {
    min-height: 100vh;
}

.containerVideo {
    text-align: justify;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}

.mt-2 {
    background-color: #952C6E;
    color: #ffffff;
}

.vl {
    border-left: 6px solid #952C6E;
    height: 120px;
    border-left: 6px solid black;
}

.mt-3 {
    background-color: #03a0c3;
    color: black;
    margin-right: 5px;
}

.container {
    text-align: justify;
    margin-bottom: 10%;
    max-width: 95%;
}
.mdc-button{
    background-color: #952C6E;
    color: white;
    font-size: 17px;
    font-family: 'Mission Gothic Bold';
}


.textContent {
    border: 1px solid;
    padding: 10px;
    width: 100px;
    word-wrap: break-word;
}

h1 {
    text-align: center
}

h2 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: x-large;
}
