.title {
    margin-top: 50px;
    text-align: center;
}

img {
    width: 80%;
    max-height: 500px;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.example-header-image {
    background-size: cover;
}

hr.new4 {
    border: 2px solid black;
    margin-top: 1%;
}

.other {
    width: 70%;
    max-height: 500px;
    background-color: #ffffff;
    align-content: right;
    text-align: right;
    align-self: right;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.new1 {
    border: 2px dashed;
}

.tit {
    color: white;
    text-align: center;
}

.mat-card {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: darkolivegreen;
}

.mat-card-avatar {
    background-size: cover;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}

.container {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: black;
    max-width: 95%;
}

.options {
    margin-top: -250px;
    margin-right: auto;
    align-self: right;
}

.addbox-HVT {
    margin-top: 2%;
    margin-bottom: 5px;
}

.coloicon {
    color: white;
}

.mat-grid-tile {
    background-color: #ffffff;
    border: 2px solid black;
}

.mat-grid-tile-header {
    align-self: right;
    align-content: right;
    background-color: teal;
}

.content {
    margin-top: 10%;
}