<app-carousel></app-carousel>

<div class="container">
    <section class="mision">
        <app-ver-mision></app-ver-mision>
    </section>
    <section class="vision">
        <app-ver-vision></app-ver-vision>
    </section>
    <section class="objetivo">
        <app-ver-objetivo></app-ver-objetivo>
    </section>
</div>
    
<div class="evento">
    <div class="nav-item">
        <button class="mt-2" mat-raised-button color="primary" Button label="EventoScreen" (click)="EventoScreen=true;">
            EVENTOS
            </button>
    </div>
    <app-show-eventos *ngIf="EventoScreen"></app-show-eventos>
</div>