div {
    color: black;
}
.container-objetivo{
    text-align: center;
}
.objetivo{
    text-align: justify;
}
.container-botton-objetivo{
    width: 100px;
    margin-left: 50%;
    transform: translateX(-35%);
}

h2{
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: xx-large;
}

p {
    font-size: medium;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Ligth'
}