<div class="container">

    <div class="content">



        <mat-grid-list [responsive]="responsive" (responsiveColsChange)="cols = $event" rowHeight="700px" gutterSize="100px">
            <mat-grid-tile *ngFor="let folder of things">


                <div class="card">
                    <div class="avatar">
                        <img [src]="folder.photo" alt="John" style="width:100%">
                    </div>
                    <p>{{folder.username}}</p>
                    <p>{{folder.email}}</p>
                    <p>{{folder.nombre}}</p>
                    <p>{{folder.apellido}}</p>
                    <p>{{folder.fecha_nacimiento}}</p>



                    <button color="white" (click)="Delete(folder)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                </div>

            </mat-grid-tile>
        </mat-grid-list>


    </div>
</div>
