<div class="container pt-4">
    <div class="row">

        <div class="col-8 containerVideo">
            <mat-card-title>Titulo: {{referente.titulo}}</mat-card-title>
            <mat-card-title>Titulo: {{referente.descripcion}}</mat-card-title>

            <div class="options" fxFlex="5px" fxFlexAlign="center">
                <mat-card-actions>
                    <button mat-icon-button (click)="edit_referente(referente)">
                      <mat-icon>edit</mat-icon>
                  </button>

                </mat-card-actions>
            </div>
            <mat-card-content>
                <youtube-player [videoId]="link" [height]="315" [width]="600" suggestedQuality="large"></youtube-player>
            </mat-card-content>
            <div>
                <p class="par">
                    No esperes a sentirte mal para ocuparte de tu salud. Es bueno hacernos chequeos anuales para saber que todo está bien, evitar enfermedades o detectar si necesitamos hacer algún tratamiento a tiempo.
                </p>
                <p class="par">
                    En los hospitales públicos es necesario hacerse de tiempo para sacar turnos con mucha anticipación. En algunos, ya se pueden tomar turnos por internet. La mayoría de los hospitales tiene Servicio de adolescencia, al que se puede ir solo o sola desde los
                    13 años, sin necesidad de que te acompañe una persona adulta.
                </p>
                <p class="par">
                    Es un serio problema que afecta especialmente a las adolescentes y jóvenes. Hay violencia de género en aquellas relaciones que buscan dominar tu vida usando violencia física, psicológica, verbal, sexual, económica o simbólica. Puede ocurrir en tu pareja,
                    con un familiar, en la escuela, en el trabajo, hasta hay modalidades de acoso a través de internet. También, cuando una persona te abusa sexualmente, te presiona u obliga a hacer algo con tu cuerpo que no quieras, o incluso a ejercer
                    la prostitución.
                </p>
                <p class="par">
                    En los centros de salud también pueden asesorarte sobre tu salud y tus derechos sexuales y reproductivos. Tenés derecho a que te atiendan en forma amigable y confidencial, a recibir información y anticonceptivos gratis. Tené en cuenta que el preservativo
                    es el único método que te previene de embarazos no intencionales y de infecciones de transmisión sexual, como el sida.
                </p>
            </div>

        </div>

        <div class="col-4 bg-warning">
            Comentarios
        </div>
    </div>
</div>
