<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-7 formText">
                <p>Estamos para escucharte! Si tienes una pregunta sobre algo que has leído en esta plataforma, o solo te sientes solo/a y quieres hablar, no dudes en contactarnos. Siempre trataremos de ayudarte! 
                </p>
                <p>Correo electrónico: dejandohuellas@tia.org.au </p>
                <p>Teléfono: +591 79964979 / +591 60791611</p>   
            </div>

            <div class="col-md-5 ">
                <div>
                    <form class="form" action="">
                        <h2>ENVIA UN CORREO</h2>
                        <p type="Nombre:">
                            <input required minlength="2" type="text" [(ngModel)]="dataset.name" name="name">
                        </p>
                        <p type="Email:">
                            <input required minlength="2" type="text" [(ngModel)]="dataset.email" name="email">
                        </p>
                        <p type="Mensaje:">
                            <input type="text" [(ngModel)]="dataset.message" name="message">
                        </p>
                        <button (click)="onSubmit()">Enviar</button>
                        <div class="footerContact">
                            <span class="fa fa-phone"></span>79964979
                            <span class="fa fa-envelope-o"></span> dejandohuellas@tia.org.au
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>
