<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-7 formText">
                <p>¿Vivís en un hogar y estás pensando en tu egreso?</p>
                <p>¿Ya egresaste de un hogar y te sentís solo o sola?</p>
                <p>¿Necesitás orientación o un consejo?</p>
                <p>¿Querés ser parte de la Guía E?</p>
                <p>¡Contactanos!</p>
                <p>guiaegreso@doncel.org.ar</p>
            </div>

            <div class="col-md-5 ">
                <div>
                    <form class="form" action="">
                        <h2>ENVIA UN CORREO</h2>
                        <p type="Nombre:">
                            <input required minlength="2" type="text" [(ngModel)]="dataset.name" name="name">
                        </p>
                        <p type="Email:">
                            <input required minlength="2" type="text" [(ngModel)]="dataset.email" name="email">
                        </p>
                        <p type="Mensaje:">
                            <input type="text" [(ngModel)]="dataset.message" name="message">
                        </p>
                        <button (click)="onSubmit()">Enviar</button>
                        <div class="footerContact">
                            <span class="fa fa-phone"></span>001 1023 567
                            <span class="fa fa-envelope-o"></span> redDeJovenes@gmail.com
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>
