.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.form {
    width: 350px;
    height: 480px;
    background: #e6e6e6;
    border-radius: 8px;
    /*box-shadow: 0 0 40px -10px #000;*/
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Mission Gothic Ligth";
    position: relative
}
p {
    font-size: medium;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Ligth'
}
.formText {
    width: 350px;
    height: 480px;
    border-radius: 8px;
    /*box-shadow: 0 0 40px -10px #000;*/
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Mission Gothic Ligth";
    position: relative
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #03A0C3;
    border-bottom: 3px solid #03A0C3
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #03A0C3
}

input:focus {
    border-bottom: 2px solid #03A0C3
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #03A0C3
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #03A0C3;
    background: 0 ;
    color: #03A0C3;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #78788c;
    color: #fff
}

.footerContact {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #03A0C3;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    /*box-shadow: 10px 10px 40px -14px #000*/
}

span {
    margin: 0 5px 0 15px
}