<div class="container">

    <div class="content">



        <mat-grid-list [responsive]="responsive" (responsiveColsChange)="cols = $event" rowHeight="700px" gutterSize="100px">
            <mat-grid-tile *ngFor="let folder of usuarios">


                <div class="card">
                    <img src="../../../../assets/aguila.jpg" alt="John" style="width:100%">
                    <h1>John Doe</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>{{folder.username}}</p>
                    <p>{{folder.email}}</p>
                    <p>{{folder.nombre}}</p>
                    <p>{{folder.apellido}}</p>
                    <p>{{folder.fecha_nacimiento}}</p>



                    <button color="white" (click)="Delete(folder)">
                      <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>

            </mat-grid-tile>
        </mat-grid-list>


    </div>
</div>
