<!--<div class="container col-md-11">
    <div class="d-flex justify-content-between">
        <h1>Iniciar Sesion</h1>
        <button mat-button (click)="close()">
<mat-icon>close</mat-icon>
</button>
    </div>

    <div style="overflow: auto;height: 300px;">

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de Usuario:</mat-label>
                <input matInput required minlength="2" type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="form.username">
                <div class="text-left text-danger" *ngIf="username.invalid && username.touched">
                    Debes ingresar el Nombre de Usuario </div>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña:</mat-label>
                <input matInput required minlength="6" type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="form.password">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Contraseña es requerida</div>
                    <div *ngIf="password.errors.minlength">
                        La contraseña debe de tener mas de 6 caracteres
                    </div>
                </div>
            </mat-form-field>
            <div class="form-group">
                <button class="mt-4" mat-raised-button class="btn mdc-button" [disabled]="f.invalid">
                 Iniciar Sesion
            </button>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    Usuario o contraseña invalido

                </div>
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
            Iniciando Sesion

        </div>
    </div>
</div>

-->
<div class="container">
    <div class="d-flex justify-content-between">
        <h1></h1>
        <div class="btnClose">
            <button mat-icon-button color="warn" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                    <span class="login100-form-title p-b-26">
						Iniciar Sesion
                    </span>
                    <br>
                    <span class="login100-form-title p-b-48">
                        <img class="image" src="../../../../assets/piesito.png" />
					</span>
                    <br>
                    <div class="wrap-input100 validate-input">
                        <mat-label>Nombre de Usuario:</mat-label>
                        <input matInput required minlength="2" type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="form.username">
                        <div class="text-left text-danger" *ngIf="username.invalid && username.touched">
                            Debes ingresar el Nombre de Usuario </div>
                    </div>
                    <br>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <mat-label>Contraseña:</mat-label>
                        <input matInput required minlength="6" type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="form.password">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                            <div *ngIf="password.errors.required">Contraseña es requerida</div>
                            <div *ngIf="password.errors.minlength">
                                La contraseña debe de tener mas de 6 caracteres
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="mt-4" mat-raised-button class="btn mdc-button" [disabled]="f.invalid">
								Iniciar Sesion
							</button>
                        </div>
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                                Usuario o contraseña invalido
                            </div>
                        </div>
                    </div>

                </form>
                <div class="alert alert-success" *ngIf="isLoggedIn">
                    Iniciando Sesion
                </div>
            </div>
        </div>
    </div>
</div>