<div class="container col-md-11">
    <div class="d-flex justify-content-between">
        <h1>Iniciar Sesion</h1>
        <button mat-button (click)="close()">
<mat-icon>close</mat-icon>
</button>
    </div>

    <div style="overflow: auto;height: 300px;">

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de Usuario:</mat-label>
                <input matInput required minlength="2" type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="form.username">
                <div class="text-left text-danger" *ngIf="username.invalid && username.touched">
                    Debes ingresar el Nombre de Usuario </div>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña:</mat-label>
                <input matInput required minlength="6" type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="form.password">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Contraseña es requerida</div>
                    <div *ngIf="password.errors.minlength">
                        La contraseña debe de tener mas de 6 caracteres
                    </div>
                </div>
            </mat-form-field>
            <div class="form-group">
                <button class="mt-4" mat-raised-button class="btn mdc-button" [disabled]="f.invalid">
                 Iniciar Sesion
            </button>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    Login failed: {{ errorMessage }}
                </div>
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
            Logged in as {{ roles }}.
        </div>
    </div>
</div>



<!--
  <div class="limiter" style="overflow: auto;height: 700px;">
    <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
    </button>
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                <span class="login100-form-title p-b-26">
                      Iniciar Sesion
        </span>
                <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font">
            <img src="" alt="">
          </i>
        </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input class="input100" type="text" required minlength="2" type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="form.username">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
                    <input class="input100" required minlength="6" type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="form.password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" [disabled]="f.invalid">
                              Iniciar Sesion
            </button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
-->
