.container {
    text-align: justify;
    margin-bottom: 10%;
    width: 100%;
    min-height: 100vh;
}

.container2 {
    text-align: justify;
    max-width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    align-content: center;
}

.mdc-button {
    background-color: #03A0C3;
    color: black;
    font-size: 17px;
    font-family: 'Mission Gothic Bold';
}

.addbox-HVT {
    margin-left: 2%;
    margin-top: -30px;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: xx-large;
}

p {
    font-size: 20px;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic';
    word-wrap: break-word;
    font-size: 20px;
    font-family: 'Mission Gothic';
}

.mdc-button {
    background-color: #03A0C3;
    color: black;
    font-size: 17px;
    font-family: 'Mission Gothic Bold';
}

.decorator-hr {
    height: 4px;
    border-width: 0;
    color: #952C6E;
    background-color: #952C6E;
}

.nfi {
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.noavailable {
    text-align: left;
    margin-bottom: 5%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.nfi {
    max-width: 80%;
    height: 80%;
}

.mat-card {
    width: 100%;
    max-width: 80%;
    font-family: "Mission Gothic Bold";
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: none !important;
    box-shadow: none !important;
}

.mat-card-footer {
    margin: 1%;
    text-align: right;
}

.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}

.options {
    float: right;
    margin-top: -65px;
    margin-right: 2%;
}

.card-header {
    margin-top: 2%;
}

.mat-card-actions {
    display: flex;
}

.custom-card {
    margin: left;
    text-align: justify;
    margin-top: 0;
}

.custom-card-content {
    padding: 20px;
    box-sizing: border-box;
}

.coloicon {
    color: white;
}

p {
    font-size: medium;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Ligth'
}

.decorator-hr {
    height: 4px;
    border-width: 0;
    color: #952C6E;
    background-color: #952C6E;
}

.decorator-hrb {
    height: 4px;
    border-width: 0;
    color: #03A0C3;
    background-color: #03A0C3;
}

h2 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: x-large;
}

.h2-title {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: xx-large;
}