.container {
    text-align: justify;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: black;
    margin-bottom: 10%;
    max-width: 85%;
    border-radius: 25px;
}

.tit {
    color: #000000;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.addbox-HVT {
    margin-left: 2%;
    margin-top: -30px;
    margin-bottom: 5px;
}

.mat-card {
    max-width: 80%;
    margin: auto;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 6px inset;
}

.mat-card-footer {
    margin: 1%;
    text-align: right;
}

.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}

hr.new4 {
    border: 2px solid #b6b6b6;
}

.options {
    float: right;
    margin-top: -65px;
    margin-right: 2%;
}

.card {
    background-color: #919191;
}

.card-header {
    margin-top: 2%;
}

.mat-card-actions {
    display: flex;
}

.custom-card {
    background: linear-gradient(70deg, white, rgb(148, 115, 65));
    margin: left;
    text-align: justify;
    margin-top: 10%;
    border-radius: 10px;
    border: 2px inset;
}

.custom-card-content {
    padding: 20px;
    box-sizing: border-box;
}

.coloicon {
    color: white;
}