<div class="container">
    <h1 class="tit">HISTORIAS DE VIDA TEXTO</h1>

    <div class="addbox-HVT" *ngIf="showAdminBoard">
        <button class="mt-2" mat-raised-button (click)="AddHVT()" color="primary">
      Agregar
       <mat-icon>add_box</mat-icon>
      </button>
    </div>

    <mat-list *ngFor="let hvt of historiasHVT">
        <mat-card>
            <mat-card-header [ngClass]="{'custom-card':true}">
                <mat-card-title>
                    <br>
                    <h1>{{hvt.titulo}}</h1>
                </mat-card-title>
            </mat-card-header>

            <div class="options" fxFlex="10px" fxFlexAlign="center">
                <mat-card-actions *ngIf="showAdminBoard || showModeratorBoard">
                    <button mat-icon-button (click)="edit_HVT(hvt)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    <button mat-icon-button (click)="Delete(hvt)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                </mat-card-actions>
            </div>

            <br>
            <div fxLayout="row">
                <div fxFlex="10">
                    <mat-card-content [ngClass]="{'custom-card-content':true}">
                        <h4>
                            <h3></h3>
                            {{hvt.contenido}}
                        </h4>
                    </mat-card-content>
                </div>
            </div>

            <mat-card-footer>{{hvt.fecha}}</mat-card-footer>

        </mat-card>
    </mat-list>
</div>
