<!--<mat-card class="example-card" id="card " style=" item-align: center; ">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image "></div>
        <mat-card-title>THIS IS EVENT</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg " alt="Photo of a Shiba Inu ">
    <mat-card-content>
        <p>
            Los eventos de la red de jovenes son algo planificado mediante un concenso y se los visualizara en este sector
        </p>
    </mat-card-content>


</mat-card>-->
<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-card-title>EVENTOS</mat-card-title>
        </div>
    </mat-card-header>
    <img mat-card-image src="https://i.pinimg.com/originals/39/a7/a0/39a7a092fd760ac037cca51e495d6248.jpg" alt="Photo of a Shiba Inu" alt="">
    <mat-card-content>
        <p> Los eventos de la red de jovenes son algo planificado mediante un concenso y se los visualizara en este sector
        </p>
    </mat-card-content>
    <!--
    <mat-card-actions>
        <button mat-button color="primary">Mas</button>
        <div class="flex-spacer"></div>
        <button mat-icon-button><mat-icon>publish</mat-icon></button>
    </mat-card-actions>-->
</mat-card>