<!--<mat-card class="example-card" id="card " style=" item-align: center; ">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image "></div>
        <mat-card-title>THIS IS EVENT</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg " alt="Photo of a Shiba Inu ">
    <mat-card-content>
        <p>
            Los eventos de la red de jovenes son algo planificado mediante un concenso y se los visualizara en este sector
        </p>
    </mat-card-content>


</mat-card>-->
<mat-card style="text-align: center;">
    <mat-card-header>
        <div mat-card-avatar>
            <!-- <mat-card-title>EVENTOS</mat-card-title> -->
        </div>
    </mat-card-header>

    <iframe
        src="https://calendar.google.com/calendar/b/0/embed?height=600&amp;wkst=2&amp;bgcolor=%23B39DDB&amp;ctz=America%2FLa_Paz&amp;src=djZoNnZjdTBxMHM3bWJoN2tuZDFjYWc3dWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZXMuYm8jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%239E69AF&amp;color=%237986CB&amp;hl=es&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=1&amp;showTz=1"
        style="border:solid 1px #777" width="600" height="600" frameborder="0" scrolling="no"></iframe>
    <!-- <img mat-card-image src="https://i.pinimg.com/originals/39/a7/a0/39a7a092fd760ac037cca51e495d6248.jpg" alt="Photo of a Shiba Inu" alt=""> -->
    <mat-card-content>
        
        
        <p> Los eventos de la red de jovenes son algo planificado mediante un concenso y se los visualizara en este
            sector
        </p>
    </mat-card-content>
    <!--
    <mat-card-actions>
        <button mat-button color="primary">Mas</button>
        <div class="flex-spacer"></div>
        <button mat-icon-button><mat-icon>publish</mat-icon></button>
    </mat-card-actions>-->
</mat-card>