
.mat-card {
    max-width: 850px;
    margin: auto;
    box-shadow: none !important;
    border: 0;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}

p {
    padding-top: 20px;
    font-size: 19;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Bold';
    color: #03A0C3;
}