<mat-card style="text-align: center;">
    <mat-card-content>
        <p style="font-family: 'Mission Gothic Bold' !important; font-size:17px;"> Los eventos de la red de jovenes son planificados con anticipacion y todo aquel que desee participar es bienvenido.
        </p>
        <iframe
        src="https://calendar.google.com/calendar/b/0/embed?height=600&amp;wkst=2&amp;bgcolor=%23B39DDB&amp;ctz=America%2FLa_Paz&amp;src=djZoNnZjdTBxMHM3bWJoN2tuZDFjYWc3dWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZXMuYm8jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%239E69AF&amp;color=%237986CB&amp;hl=es&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=1&amp;showTz=1"
        style="border:solid 1px #777" width="800" height="800" frameborder="0" scrolling="no"></iframe>
    </mat-card-content>
</mat-card>