div {
    color: black;
}

.container-mision {
    text-align: center;
}

.mision {
    text-align: justify;
}

.container-botton-mision {
    width: 100px;
    /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-35%);
}

/*.contendor-mision{
    width: 30%;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}*/

h2 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: xx-large;
}

p {
    font-size: medium;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Ligth'
}