div.hvv {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.hvv {
    margin-top: 5%;
}

hr.new4 {
    border: 2px solid black;
}

.mat-card-footer {
    margin: 1%;
    text-align: right;
}

.mat-card {
    max-width: 80%;
    margin-bottom: 2%;
}

.mat-card-avatar {
    background-size: cover;
}

.mat-card-actions {
    display: flex;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}

.container {
    text-align: justify;
    margin-bottom: 50px;
    max-width: 70%;
}

.options {
    float: right;
    margin-top: -50px;
    margin-right: auto;
}

.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}

.coloicon {
    color: #952C6E;
}

.mt-2 {
    background-color: #952C6E;
    color: #ffffff;
}

.new1 {
    /*color: white;*/
    height: 0px;
    border: 2px dashed;
}
