<hr>
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 gauche">
            <mat-card class="example-card">
                <img mat-card-image [src]="images[2]">
            </mat-card>
        </div>

        <div class="col-lg-5 corps">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>
                        La Red de Jóvenes DEJANDO HUELLAS es una iniciativa de la Fundación TIA Bolivia y liderada
                        por jóvenes egresados del sistema de protección de toda Cochabamba.
                        Lo que buscamos es promocionar un espacio de ayuda a otros jóvenes que al igual que
                        nosotros al llegar a los 18 años tienen que salir de su centro de acogida y atravesar el largo
                        camino hacia la vida independiente, es por eso que DEJANDO HUELLAS busca facilitar un
                        servicio que pueda beneficiarlos en temas de empleabilidad, educación, salud y el ejercicio de
                        una vida digna.
                        Nuestros miembros son adolescentes y jóvenes que están o han estado bajo el cuidado del
                        sistema de protección en Bolivia, y que quieren aportar a nuestro objetivo.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>

<hr>

<div class="container pt-4">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 gauche">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>
                        UN POQUITO DE NUESTRA HISTORIA
                        La Fundación TIA Bolivia impulsa a la creación de esta Red de Jóvenes desde 2017, y es que en
                        el mes de diciembre se realizó la primera reunión aproximadamente con 4 jóvenes. Desde
                        entonces es que realizamos nuestras reuniones mensualmente y hemos ido creciendo.
                        A medida que la Red fue creciendo e integrando a nuevos jóvenes empezamos a participar de
                        encuentros de jóvenes con otras redes a nivel nacional e internacional. También fuimos
                        protagonistas de movimientos sociales en beneficio a nuestro sector y nos enfatizamos en

                        temas tales como la Violencia en el enamoramiento dando charlas en los centros de acogida
                        de la ciudad de Cochabamba.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-lg-5 corps">
            <mat-card class="example-card">
                <img mat-card-image [src]="images[1]" alt="Photo of a Shiba Inu">
            </mat-card>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<hr>
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 gauche">
            <mat-card class="example-card">
                <img mat-card-image [src]="images[3]">
            </mat-card>
        </div>

        <div class="col-lg-5 corps">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>
                        En el mes de Agosto del 2019 los líderes de la Red, con el apoyo de la Asesora Juvenil de la
                        Fundación TIA, establecimos nuestra identidad y desde entonces nos llamamos: Red de
                        Jóvenes DEJANDO HUELLAS.
                        Ahora desde 2020 tenemos 15 miembros que participamos en el grupo de forma constante
                        para realizar las acciones.
                        En Abril de 2020 la Fundación TIA Bolivia entró en un receso de sus operaciones, entonces
                        ahora la Red de Jóvenes Dejando Huellas estamos bajo el techo institucional del Proyecto
                        Trabajo Digno de la Fundación Kallpa. Mantenemos la misma misión y visión y los mismos
                        objetivos de siempre.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<hr class="blue-hr">
<div style="justify-content: center; text-align: center;">
    <br>
    <h2 class="pt-4 h2-title" style="color: #03A0C3;">
        NUESTRAS ACTIVIDADES PASADAS
    </h2>
    <br>
</div>
<hr class="blue-hr">

<div style="justify-content: center; text-align: center;">
    <h2 class="pt-4 h2-title" style="font-size: medium !important; color: #03A0C3;">
        PRIMER ENCUENTRO DE JÓVENES EGRESADOS DEL SISTEMA DE PROTECCIÓN EN COCHABAMBA
    </h2>
    <h2 style="font-size: medium !important; color: #03A0C3;">“FIJA TUS OJOS ADELANTE PARA TENER UN FUTURO BRILLANTE”
        MAYO 2019
    </h2>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 gauche">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>
                        Nuestro primer Encuentro de Jóvenes Egresados de Protección que organizamos como Red con el
                        apoyo de Fundación TIA Bolivia fue muy exitoso, en el cual participaron 36 jóvenes de distintos
                        centros de acogida de la ciudad de Cochabamba, reuniéndose en los ambientes de Aldeas SOS
                        ubicado en la zona de Tiquipaya.
                        El día estuvo lleno de juegos y mucha diversión lo que ocasionó que nos conozcamos y nos
                        unieramos mas como grupo, posterior a eso tuvimos un coaching de éxito lo cual orientó nuestro
                        proyecto de vida y también liderazgo que nos ayudó para tener herramientas para trabajar con
                        nuestra Red.
                        La temática que nos identificó en este encuentro fue los premios Oscar, con el significado de
                        Premiar a nuestros invitados por la valentía y el esfuerzo que le pusieron hasta ese entonces en
                        salir adelante en su vida independiente.
                        Nos sentimos muy felices por el éxito de nuestro evento.

                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-lg-5 corps">
            <mat-card class="example-card">
                <img mat-card-image [src]="images[4]" alt="Photo of a Shiba Inu">
            </mat-card>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<hr class="blue-hr">

<div style="justify-content: center; text-align: center;">
    <h2 class="pt-4 h2-title" style="font-size: medium !important; color: #03A0C3;">
        DIA DE LA NO VIOLENCIA AGOSTO 2019
    </h2>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 gauche">
            <mat-card class="example-card">
                <img mat-card-image [src]="images[5]">
            </mat-card>
        </div>

        <div class="col-lg-5 corps">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>
                        En coordinación con la Red de Jóvenes de CUBE participamos en la campaña en contra de la
                        violencia. Este año tuvimos la iniciativa de crear una muralla enorme recolectando firmas de la
                        población de Cochabamba en general, recolectamos más de 500 firmas en los diferentes mítines que
                        se programaron antes del evento, llegada la fecha del 09 de agosto armamos nuestra GRAN muralla
                        que estaba visible a modo de concientización.

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<hr class="blue-hr">

<div style="justify-content: center; text-align: center;">
    <h2 class="pt-4 h2-title" style="font-size: medium !important; color: #03A0C3;">
        TALLER DE PREVENCIÓN DE EMBARAZOSOCTUBRE 2018

    </h2>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 gauche">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>
                        Con la ayuda de la Red de Jóvenes TÚ DECIDES de CIES organizamos un taller de información y
                        prevención para todos los jóvenes de nuestra Red, aprendimos acerca de la importancia de cuidar
                        nuestra sexualidad, los métodos anticonceptivos más eficientes y acerca del cuidado de nuestra
                        salud sexual.

                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-lg-5 corps">
            <mat-card class="example-card">
                <img mat-card-image [src]="images[6]" alt="Photo of a Shiba Inu">
            </mat-card>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<hr class="blue-hr">