.example-card {
    max-width: 600px;
    transition: none !important;
    box-shadow: none !important;
  }
  p {
    font-size: medium;
    justify-content: center;
    text-align: justify;
    font-family: 'Mission Gothic Ligth'
}

hr{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    height:4px;
    border-width:0;
    color:#952C6E;
    background-color:#952C6E;
}
