<div class="container title">
    <h1></h1>
</div>


<div class="container pt-4 ">
    <h1 class="tit">QUIENES SOMOS</h1>

    <div class="card-header">
        <hr class="new1">
    </div>
    
    <div>
        <p class="par"> 
            TIA comenzó en 2009 cuando Tessa Henwood-Mitchell, una estudiante australiana de 21 años de edad,
            despues de hacer un voluntariado en un centro de acogida y ser testiga de la falta de oportunidades
            disponibles para los niños y jóvenes en estos centros,
            decidió fundar una organización en Australia para tratar de ayudar.
        </p>
        <p class="par">
            Desde entonces, TIA se ha convertido en una organización dinámica e
            innovadora sin fines de lucro que se enfoca en capacitar y apoyar a los jóvenes,
            especialmente a los jóvenes en Bolivia que están egresando de los centros de acogida del sistema de
            protección.
        </p>
        <p class="par">
            Estos jóvenes deben abandonar el sistema de protección al cumplir 18 años,
            y sin el apoyo proporcionado por el estado, se enfrentan a futuros inciertos y peligrosos.
        </p>
        <p class="par">
            El objetivo de TIA es proporcionar educación sobre habilidades para la vida
            y apoyo a estos jóvenes antes y después de abandonar su institución.
        </p>
        <p class="par">
            TIA cuenta con el respaldo de una organización liderada por
            voluntarios en Australia que recauda fondos, y por un equipo dedicado
            y profesional en Cochabamba, Bolivia, que entrega los programas.
        </p>
        <p class="par">
            <em>
                <h1>
                    Mas de nosotros
                </h1>
            </em>
        </p>
        <p class="par">
            Este proyecto está centrado en la educación y entrenamiento de jóvenes ciegos y 
            con visión reducida en el campo de la música. La idea detrás de este proyecto es
            la de capacitar a los jóvenes del Manuela Gandarillas proporcionándoles herramientas
             musicales especializadas, lo cual acrecenta sus opciones de futuras oportunidades en un puesto de trabajo.
            La música es algo de lo que todos deberían poder disfrutar, sin importar su nacionalidad, 
            género, edad o religión. En TIA International Aid, y del mismo modo en el Manuela Gandarillas, creemos que esto debería incluir también a aquellos con discapacidades visuales.
        </p>
    </div>
</div>