<div class="container col-md-11">
    <div class="d-flex justify-content-between">
        <h4></h4>
        <button mat-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div style="overflow: auto;height: 300px;">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
            <mat-form-field class="example-full-width">
                <mat-label>
                    CONTENIDO
                </mat-label>
                <textarea matInput required minlength="2" rows="3" maxlength="255" type="text" class="form-control" name="contenido" #contenido="ngModel" [(ngModel)]="service.formData.contenido"></textarea>
                <div class="text-left text-danger" *ngIf="contenido.invalid && contenido.touched">
                    Debes ingresar el contenido.
                </div>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>
                    CONTACTO
                </mat-label>
                <textarea matInput required minlength="2" maxlength="50" type="text" class="form-control" name="contacto" #contacto="ngModel" [(ngModel)]="service.formData.contacto"></textarea>
                <div class="text-left text-danger" *ngIf="contacto.invalid && contacto.touched">
                    Debes ingresar el contacto.
                </div>
            </mat-form-field>
            <br>
            <!--falta posiscionar-->
            <button class="mt-4" mat-raised-button class="btn mdc-button" type="submit" [disabled]="form.invalid">Agregar Trabajo</button>
        </form>
    </div>
</div>
