.filter-HVT {
    float: right;
    margin-right: 15px;
}

.title {
    margin-top: 50px;
    text-align: center;
}

div.hvv {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.hvv {
    margin-top: 5%;
}

.mat-card-title {
    margin-top: 1%;
    margin-left: 1%;
}

.mat-card-subtitle {
    margin-top: 1%;
    margin-left: 1%;
}

img {
    height: 190px;
    margin-top: 0%;
    max-width: 200px;
}

.hvv {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f5f9c989-0119-44ae-a646-d28630ea2f16/d2yp07m-a084ef34-38cc-400f-9d3d-db11e88eb1e5.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.other {
    align-items: center;
    text-align: justify;
    background-color: darkolivegreen;
    border-style: solid;
    border-color: black;
    height: 150px;
    margin-left: 25%;
    margin-bottom: 0%;
}

.example-header-image {
    /* background-image: url("src/assets/HistoriaVidaAudio/ShowIcons/microphone.png");*/
    background-size: cover;
}

hr.new4 {
    border: 2px solid black;
}

.mat-card-footer {
    margin: 1%;
    text-align: right;
}

.tit {
    color: white;
    text-align: center;
}

.mat-card {
    max-width: 80%;
    margin: auto;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: darkolivegreen;
    margin-bottom: 2%;
    border-style: solid;
    max-width: 90%;
}

.mat-card-avatar {
    background-size: cover;
}

.mat-card-actions {
    display: flex;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}

.container {
    text-align: justify;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: black;
    margin-bottom: 50px;
    max-width: 70%;
}

.options {
    float: right;
    margin-top: -50px;
    margin-right: auto;
}

.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}

.card {
    background-color: #323232;
}

.card-header {
    /*: #ffffff;*/
    margin-top: 2%;
}

.contenidohvt {
    float: left;
    margin-left: 0px;
}

.addbox-HVT {
    margin-top: 2%;
    margin-bottom: 5px;
}

.coloicon {
    color: white;
}
