<div class="addbox-HVT">
    <button class="mt-2" mat-raised-button (click)="AddHVT()" color="primary">
        Agregar
         <mat-icon>add_box</mat-icon>
        </button>
</div>

<div class="container title">
    <h1></h1>
</div>


<div class="container">
    <div class="card">
        <div class="card-header">
            <mat-card-title>------------------------------------------------------------------------------------------------------------------------------------</mat-card-title>
        </div>
        <mat-list *ngFor="let hvt of teofrecemos">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Contenido: {{hvt.contenido}}</mat-card-title>
                </mat-card-header>
                <div class="options" fxFlex="10px" fxFlexAlign="center">
                    <mat-card-actions>
                        <button mat-icon-button>
                          <mat-icon>edit</mat-icon>
                      </button>
                        <button mat-icon-button color="warn">
                          <mat-icon>delete_forever</mat-icon>
                      </button>
                    </mat-card-actions>
                </div>
                <div fxLayout="row">

                    <div fxFlex="10">
                        <br>
                        <div class="contenidohvt">
                            <br>
                            <h3>Contacto: </h3>
                        </div>
                        <br>
                        <mat-card-content>
                            <br>
                            <h4>
                                {{hvt.contacto}}
                            </h4>
                        </mat-card-content>
                    </div>
                </div>
            </mat-card>
        </mat-list>
    </div>
</div>
