<div style="justify-content: center; text-align: center;">
    <h2 class="pt-4 h2-title">BECAS</h2>
</div>
<div class="container">
    <div class="addbox-HVT" *ngIf="showAdminBoard || showModeratorBoard">
        <button class="mt-2" mat-raised-button (click)="AddBeca()" class="btn mdc-button">
      Agregar
       <mat-icon>add_box</mat-icon>
      </button>
    </div>
    <mat-list *ngFor="let tob of teofrecemos">
        <mat-card>
            <hr class="decorator-hr">
            <br>
            <div class="options" fxFlex="5px" fxFlexAlign="center">
                <br>
                <mat-card-actions *ngIf="showAdminBoard || showModeratorBoard">
                    <button mat-icon-button (click)="edit_Beca(tob)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    <button mat-icon-button color="warn" (click)="Delete(tob)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                </mat-card-actions>
            </div>
            <div mat-card-avatar class="example-header-image">
                <img class="image" src="../../../../assets/beca1.png" />
            </div>

            <div class="other">
                <mat-card-title><h2>{{tob.contacto}}</h2> </mat-card-title>
                <p>{{tob.contenido}}</p>
            </div>
            <hr class="decorator-hr">
            <br>
        </mat-card>
    </mat-list>
</div>
