img {
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.mat-form-field {
    color: white;
    margin-right: 5%;
}

.filter {
    margin-top: -45px;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: xx-large;
}

.noavailable {
    width: 700px;
    height: 370px;
}

.example-header-image {
    background-image: url('https://img2.freepng.es/20190620/byr/kisspng-microphone-sound-computer-icons-clip-art-vector-gr-mic-a-svg-png-icon-free-download-411793-onlin-5d0c436f81bb67.2068817515610847835314.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
}

.mat-card-title {
    align-items: center;
}

.addbox-HVT {
    align-items: left;
    align-content: left;
    text-align: left;
    margin-top: 2%;
}

.classcard {
    margin-bottom: 20px;
    margin: 2%;
    font-family: 'Mission Gothic';
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: calc(35px) auto;
    transition: none !important;
    box-shadow: none !important;
}

.addbox-Tema {
    align-items: right;
    align-content: right;
    text-align: right;
    margin-top: -35px;
}

.other {
    align-items: center;
    text-align: center;
    /*background: linear-gradient(to right, #c228aa, #00AcDC);
    border-style: solid;
    border-color: black;*/
    height: 110px;
    margin-top: -80px;
    margin-left: 16%;
    margin-bottom: 0%;
}

.audioBox {
    width: 100%;
    margin-top: 10px;
    position: center;
}

source {
    width: max-content;
}

.container {
    /* margin-bottom: 50px;*/
    max-width: 80%;
    margin-bottom: 50px;
    min-height: 100vh;
    margin-bottom: 20px;
}

hr.new4 {
    border: 2px solid black;
}

.mat-card-title {
    margin-top: 1%;
}

.new1 {
    /*color: white;*/
    height: 0px;
    border: 2px dashed;
}

.tit {
    color: #952C6E;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.options {
    float: right;
    margin-top: -100px;
    /* margin-right: auto;*/
}

.mt-2 {
    font-family: 'Mission Gothic Bold';
    color: #952C6E;
    font-size: large;
    color: #ffffff;
}

.mdc-button{
    background-color: #952C6E;
    color: white;
    font-size: 17px;
    font-family: 'Mission Gothic Bold';
}
.mdc-button1{
    background-color: #03A0C3;
    color: black;
    font-size: 17px;
    font-family: 'Mission Gothic Bold';
}

.vl {
    border-left: 6px solid #952C6E;
    height: 120px;
    border-left: 6px solid black;
}

.mt-3 {
    background-color: #03a0c3;
    color: black;
    margin-right: 5px;
    font-family: 'Mission Gothic Bold';
    font-size: large;
}

.mt-4{
    font-family: 'Mission Gothic Bold';
    font-size: large;
}

.decorator-hr {
    height: 4px;
    border-width: 0;
    color: #952C6E;
    background-color: #952C6E;
}

@media screen and (max-width: 800px) {
    .classcard {
        width: 110%;
        margin-left: -20px;
    }
    .audioBox {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    .other {
        margin-top: 20px;
        text-align: justify;
        width: 83%;
        height: 300px;
    }
    .addbox-HVT {
        margin-top: 30px;
        margin-left: 35%;
        margin-bottom: 30px;
    }
    .example-header-image {
        background-image: url('https://img2.freepng.es/20190620/byr/kisspng-microphone-sound-computer-icons-clip-art-vector-gr-mic-a-svg-png-icon-free-download-411793-onlin-5d0c436f81bb67.2068817515610847835314.jpg');
        background-size: cover;
        height: 50px;
        width: 50px;
    }
    .options {
        margin-top: -60px;
    }
}
