<div class="container">
    <div class="addbox-HVT" *ngIf="showAdminBoard || showModeratorBoard">
        <button class="mt-2" mat-raised-button (click)="AddHVA()" class="btn mdc-button">
      Agregar
       <mat-icon>add_box</mat-icon>
      </button>
    </div>



    <div class="addbox-Tema" *ngIf="showAdminBoard || showModeratorBoard">
        <button class="mt-3" mat-raised-button (click)="addTema()" class="btn mdc-button1">AgregarTema
        <mat-icon>add_box</mat-icon>
      </button>

        <button class="mt-2" mat-raised-button (click)="goTemas()" class="btn mdc-button">
        Editar Temas
         <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
    <h1 class="tit"> PODCASTS</h1>

    <div class="noavailable" *ngIf="!existelist">
        <div style="justify-content: center; text-align: center;">
            <img class="noavailable" height="500px" src="../../../../assets/noavailable.jpeg" alt="">            
        </div>
    </div>
    <div *ngIf="existelist">
        <div class="filter">
            <form #form="ngForm" (ngSubmit)="filtrarTema(temaFiltrado)" autocomplete="off">
                <mat-form-field class="example-full-width">
                    <mat-label>Tema del podcast</mat-label>
                    <br>
                    <mat-select [(ngModel)]="temaFiltrado" name="tema" required #tema="ngModel">
                        <mat-option *ngFor="let tema of temas" [value]="tema">
                            {{tema.nombreTema}}

                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="mt-4" mat-raised-button color="warn" type="submit" [disabled]="tema.invalid" [disabled]="form.invalid">FILTRAR</button>
            </form>
        </div>
        <mat-list *ngFor="let hvt of things">
            <mat-card class="classcard">
                <hr class="decorator-hr">
                <div mat-card-avatar class="example-header-image">

                </div>
                <div class="options" fxFlex="5px" fxFlexAlign="center">
                    <mat-card-actions *ngIf="showAdminBoard || showModeratorBoard">
                        <button mat-icon-button (click)="edit_HVV(hvt)">
                    <mat-icon>edit</mat-icon>
                </button>
                        <button mat-icon-button color="warn" (click)="Delete(hvt)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                    </mat-card-actions>
                </div>

                <div class="other">
                    <div>
                        <mat-card-title>{{hvt.titulo}}</mat-card-title>
                        <!--                <mat-card-subtitle>{{hvt.archivo_mp3}}</mat-card-subtitle>
-->
                        <h3>{{hvt.descripcion}}</h3>
                    </div>

                </div>
                <hr class="new4">


                <div class="audioBox">
                    <mat-basic-audio-player [audioUrl]="hvt.audio" [title]="hvt.fecha" [autoPlay]="false" muted="muted" [displayTitle]="msbapDisplayTitle" [displayVolumeControls]="true"></mat-basic-audio-player>

                </div>


                <hr class="decorator-hr">
            </mat-card>
        </mat-list>
    </div>


</div>
