img {
    height: 120px;
    margin-top: 20px;
}

.mat-form-field {
    color: white;
    margin-right: 5%;
}

.filter {
    margin-top: -45px;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}

.example-header-image {
    /* background-image: url("src/assets/HistoriaVidaAudio/ShowIcons/microphone.png");*/
    background-size: cover;
}

.mat-card-title {
    align-items: center;
}

.addbox-HVT {
    align-items: left;
    align-content: left;
    text-align: left;
    margin-top: 2%;
}

.classcard {
    margin-bottom: 20px;
    margin: 2%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(35px) auto;
}

.addbox-Tema {
    align-items: right;
    align-content: right;
    text-align: right;
    margin-top: -35px;
}

.other {
    align-items: center;
    text-align: center;
    /*background: linear-gradient(to right, #c228aa, #00AcDC);
    border-style: solid;
    border-color: black;*/
    height: 110px;
    margin-left: 16%;
    margin-bottom: 0%;
}

.audioBox {
    width: 100%;
    margin-top: 10px;
    position: center;
}

source {
    width: max-content;
}

.container {
    margin-bottom: 50px;
    max-width: 80%;
}

hr.new4 {
    border: 2px solid black;
}

.mat-card-title {
    margin-top: 1%;
}

.new1 {
    /*color: white;*/
    height: 0px;
    border: 2px dashed;
}

.tit {
    color: #000000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.options {
    float: right;
    margin-top: -50px;
    /* margin-right: auto;*/
}

@media screen and (max-width: 800px){
    .classcard{
        width: 110%;
        margin-left: -20px;
    }
    .example-header-image{
        visibility: hidden;
    }
    .audioBox{
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    .other{
        text-align: justify;
        width: 70%;
    }
}