/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Mission Gothic'; }


@font-face {
    font-family: 'Mission Gothic';
    src: url('../src/assets/fonts/Mission Gothic Light.otf') format("opentype");
}

@font-face {
    font-family: 'Mission Gothic Bold';
    src: url('../src/assets/fonts/Mission Gothic Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Mission Gothic Black';
    src: url('../src/assets/fonts/Mission Gothic Black.otf') format("opentype");
}

@font-face {
    font-family: 'Mission Gothic Bold Italic';
    src: url('../src/assets/fonts/Mission Gothic Bold Italic.otf') format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}