.filter-HVT {
    float: right;
    margin-right: 15px;
}

.addbox-HVT {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

.title {
    margin-top: 10px;
    text-align: center;
}


/*
div.hvv {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

div.hvv {
    margin-top: 5%;
}

.hvv {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mat-card {
    max-width: 600px;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}


/*
.mat-card-avatar {
    background-size: cover;
}
*/


/*
.mat-card-actions {
    display: flex;
}
*/


/*
.mat-card-actions .flex-spacer {
    width: 100%;
}*/

.container {
    text-align: center;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    width: 100%;
}

.options {
    float: right;
    margin-top: -50px;
    /* margin-right: auto;*/
}


/*
.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}*/

.card {
    background-color: #323232;
    width: 100%;
}

.card-header {
    color: black;
}

.mat-card-content {
    width: 600px;
    /*margin-right: 50px;*/
    display: flex;
    align-items: center;
}

.container {
    background-color: #323232;
    max-width: 1300px;
}

.mat-card {
    margin-bottom: 2%;
    margin-top: 2%;
}
