<div class="hvv" style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f5f9c989-0119-44ae-a646-d28630ea2f16/d2yp07m-a084ef34-38cc-400f-9d3d-db11e88eb1e5.jpg')">
    <div class="filter-HVT">
        <mat-form-field>
            <!-- <input matInput (keyup)="" placeholder="Filter">
        -->
            <mat-icon matSuffix>filter_list</mat-icon>
        </mat-form-field>
    </div>
    <div class="addbox-HVT">
        <button class="mt-2" mat-raised-button (click)="AddHVT()" color="primary">
    Agregar
    <mat-icon>add_box</mat-icon>
</button>
    </div>
</div>