.filter-HVT {
    float: right;
    margin-right: 15px;
}

.addbox-HVT {
    margin-top: 2%;
    margin-bottom: 5px;
}

.title {
    margin-top: 10px;
    text-align: center;
}

div.hvv {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.hvv {
    margin-top: 5%;
}

.hvv {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mat-card {
    max-width: 600px;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}


/*
.mat-card-avatar {
    background-size: cover;
}
*/

.mat-card-actions {
    display: flex;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}

.container {
    text-align: justify;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    width: 100%;
}

.options {
    float: right;
    margin-top: -50px;
    /* margin-right: auto;*/
}


/*
.fecha {
    float: left;
    margin-top: -5px;
    margin-left: 18px;
}*/

.card {
    background-color: #323232;
    width: 100%;
}

.card-header {
    color: black;
    align-items: left;
    text-align: left;
    align-content: left;
}

.new1 {
    /*color: white;*/
    height: 0px;
    border: 2px dashed;
}

.mat-card-content {
    width: 600px;
    /*margin-right: 50px;*/
    display: flex;
    align-items: center;
}

.container {
    text-align: justify;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: white;
    margin-bottom: 10%;
    max-width: 85%;
}

.mat-card {
    margin-bottom: 2%;
    margin-top: 2%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 6px inset;
    background: #000000;
}

.mat-card-footer {
    margin: 1%;
    text-align: center;
}

hr.new4 {
    border: 2px solid white;
}

.tit {
    color: black;
    text-align: center;
}