<div class="container">
    <h1 class="tit">HISTORIAS DE VIDA EN VIDEO</h1>

    <div class="addbox-HVT" *ngIf="showAdminBoard || showModeratorBoard">
        <button class="mt-2" mat-raised-button (click)="AddHVV()" color="primary">
      Agregar
       <mat-icon>add_box</mat-icon>
      </button>
    </div>
    <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let hvt of historiasHVV">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Titulo: {{hvt.titulo}}</mat-card-title>
                </mat-card-header>
                <div class="options" fxFlex="5px" fxFlexAlign="center">
                    <mat-card-actions *ngIf="showAdminBoard || showModeratorBoard">
                        <button mat-icon-button (click)="edit_HVV(hvt)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="Delete(hvt)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </mat-card-actions>
                </div>
                <div fxLayout="row">
                    <div fxFlex="5px">
                        <mat-card-content>
                            <youtube-player [videoId]="hvt.video_HVV" [height]="300" [width]="550" suggestedQuality="large"></youtube-player>
                        </mat-card-content>
                    </div>
                    <hr class="new4">
                    <mat-card-footer>
                        <h3>{{hvt.fecha}}</h3>
                    </mat-card-footer>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>